* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 400px;
  margin: 3rem auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.calculator {
  margin: auto;
  width: 50%;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 3rem;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background: #9e9e9e;
}
